body {
  font-family: "Lucida Console", "Courier New", monospace;
}

.inputDiv {
  padding-bottom: 2%;
  text-align: center;
  
  
}

input{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}

.imgColor {
  margin: auto;
  height: 250px;
  width: 50%;
  background-color: rgb(146, 255, 0);
}

.speedDiv {
  padding-top: 2%;
  text-align: center;
  
}

.wavelengthDiv {
  padding-top: 2%;
  text-align: center;
}

button {
    font-family: "Lucida Console", "Courier New", monospace;

}