.imgColor {
  margin: auto;
  height: 250px;
  width: 50%;
  background-color: rgb(146, 255, 0);
}

.speedDiv {
  padding-top: 2%;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.wavelengthDiv {
  padding-top: 2%;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}